/* :root {
  --brown: #a88f82;
  --tan: #f5e1d5;
  --teal: #71a8a7;
  --lightteal: #d5f5f5;
  --light: #fffaf7;
} */

html {
  margin-bottom: 500px;
  margin: auto;
  background: rgb(48, 121, 209);
  padding: 200px;
}

span {
  color: whitesmoke;
  text-align: center;
}

body {
  background-color: #447d7d;
  font-display: arial;
  font-size: 25px;
}
button {
  cursor: default;
  background-color: rgb(32, 186, 171);
  color: whitesmoke;
  block-size: 50px;
  font-size: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 10px 10px 50px rgb(96, 92, 92);
  padding: 15px;
}
